body{
  color: #333;
	background: #333;
	font-family: "Elvetica", Arial;
	font-size: 14px;
	text-align: center;
}
.container{
	background: #ccc;
	border-radius: 1em;
	box-shadow: 0px,5px,5px rgba(0,0,0,0.5);
	text-shadow: 5px,5px,5px rgba(0,0,0,0.5);
	margin: 1em auto;
	padding: 1em;
	width: 90%;
}
input{
	display: block;
	font-size: 12px;
	margin: 1em auto;
	padding: 0.5em;
	width: 95%;
}
span{
	display: block;
	font-size: 12px;
	margin: 1em auto;
	padding: 0.5em;
	width: 95%;
	text-align: left;
}
